.wrapper {
	width: 96%;
	margin: 0 auto;
}

.uk-button-primary {
	background: #10c35d !important;
}

.uk-button-primary:hover {
	background: #109a4c !important;
}

#announcement-table th,
#announcement-table td {
	width: 20%;
}

#announcement-table th:nth-child(1),
#announcement-table td:nth-child(1) {
	width: 10%;
}

#announcement-table th:nth-child(3),
#announcement-table td:nth-child(3) {
	width: 10%;
}

table button {
	color: #fff !important;
}

table i {
	font-size: 15px !important;
	padding-right: 2px;
}



ul, li {
	margin: 0;
	padding: 0;
}

body, html {
	background: #f5f6f8;
	font-family: Open Sans,sans-serif;
}

#admin-header {
	height: 50px;
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 2;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#admin-header .profile-pic img {
	width: 40px;
	border-radius: 20px;
	position: relative;
	bottom: 7px;
}

#admin-header h3 {
	float: left;
	top: 8px;
	left: 20px;
	position: relative;
}

#admin-header ul {
	float: right;
	position: relative;
	right: 20px;
}

#admin-header ul li {
	list-style: none;
	padding: 12px 10px;
	float: left;
}

#admin-header::after {
	display: block;
	content: "";
	clear: both; 
}


/* SIDE NAVIGATION BARS */
#admin-side-nav {
	width: 200px;
	background: #233444;
	height: 100vh;
	position: fixed;
}

#admin-side-nav a {
	color: #fff !important;
}

#admin-side-nav a:hover {
	text-decoration: none !important;
}

#admin-side-nav > .side-navbars {
	padding-top: 55px;
/*
	padding-left: 10px;
	padding-right: 10px;
*/
}

#admin-side-nav > .side-navbars li {
	height: 40px;
	margin-top: 5px;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

#admin-side-nav > .side-navbars li:hover {
	background: #4586ff;
	transition: all 0.3s ease-in-out;
}

#admin-side-nav > .side-navbars li.active {
	background: #4586ff;
}

#admin-side-nav > .side-navbars li > i {
	color: #fff;
	padding-left: 20px;
	padding-right: 5px;
	position: relative;
	top: 5px;
}

#admin-side-nav > .side-navbars .add-new-component {
	width: 100%;
	background: #172736;
	height: auto;
	overflow: hidden;
	box-shadow: 
        inset 0px 11px 8px -10px #0e1a26,
        inset 0px -11px 8px -10px #0e1a26;
}

#admin-side-nav > .side-navbars #add-new {
	cursor: pointer;
}

.is-close {
	height: auto !important;
}

#admin-side-nav > .side-navbars #add-new-component ul {
	padding-left: 20px;
}

#admin-holder {
	display: flex;
}

#main-content {
	padding-top: 60px;
	padding-left: 210px;
	width: 100%;
	height: auto;

}

.admin-main-content-container {
	background: #fcfcfc !important;
	width: 99%;
	box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
}

.admin-main-content {
	padding: 20px;
	min-height: 550px;
	height: auto;
}

/* ADMIN ADD NEW */
.announcement-title {
	width: 40%;
}

#form-holder input {
	width: 100%;
}

#form-holder input.bulletin-title {
	
}


.add-new-component ul li {
	padding-left: 20px;
	list-style: none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 75%;
  max-height: 550px;
  height: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: auto;
}

.modal-container textarea {
	width: 100%;
	height: 200px;

}

.success-modal-container {
	width: 40%;
	height: auto;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-header {
	margin: 20px 0;
	height: auto;
}

.modal-body {
  margin: 20px 0;
  height: auto;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.success-icon {
	height: 200px;
	width: 200px;
	background: url('/images/success-icon-1.png') no-repeat;
	background-size: contain;
	margin: 0 auto;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 300px;
  max-height: 500px;
}

/* GLOBAL */

.uk-button-primary {
	background: #10c35d !important;
}

.uk-button-primary:hover {
	background: #109a4c !important;
}

.slide-right-bg:hover {
	box-shadow: inset 400px 0 0 0 #5dd073;
	color: #fff !important;
}

body, html {
	background: #f3f3f3;

}

.b-links-container {
	width: 50%;
	margin: 0 auto;
    height: 100%;
}

/* BORDER */

.border {
	height: 40px;
	background: #10c35d;
	width: 100%;
}

.border ul > li {
    float: left;
    list-style: none;
    width: 19%;
    text-align: center;
    margin-top: 1%;
    color: #fff;
}


.border ul::after {
    display: block;
    content: "";
    clear: both;
}

#site-header {
	padding: 2px 0;
	background: #fff;
	height: 50px;
}

#site-header nav a {
	color: #10c35d;
}

#site-header > .wrapper > div {
	float: left;
	margin-top: 5px;
}

#site-header > .wrapper > nav {
	float: right;
	margin-top: 10px;
}

#site-header > .wrapper > nav > a {
	padding: 5px 15px;
}

#site-header > .wrapper::after {
	display: block;
	content: "";
	clear: both;
}

/* SHOWCASE */
#showcase {
	height: 400px;
	background: url('images/banner.jpg') no-repeat;
	background-size: cover;
}

#showcase > .showcase-container > .showcase-content > span {
	font-family: Anton;
	font-size: 50px;
	color: #10c35d;
	margin-bottom: 0;
}

#showcase > .showcase-container > .showcase-content > p {
	margin-top: 0;
	font-size: 40px;
}

#showcase > .showcase-container {
	padding: 100px 50px;
}

/* ANNOUNCEMENTS */
.site-contents {
/*	margin: 50px 0px;*/
	margin-top: 40px;
	margin-bottom: 40px;
}

.announcement-container {
	height: auto;
	min-height: 455px;
	background: #fff;
	border: 1px solid rgb(218, 220, 222) !important;
}

.announcement-container > .announcement-header {
	width: 100%;
	height: 35px;
	padding-top: 4px; 
	background: #109a4c;
	color: #fff;
}

.announcement-container > .announcement-header > span {
	position: relative;
	margin-left: 10px;
	top: -5px;
}

.announcement-container > .announcement-header > i {
	position: relative;
	top: 2px;
	left: 10px;
}

.announcement-container > .announcement-posted {
	width: 96%;
	margin: 0 auto;
}

.post-container {
    width: 100%;
    overflow: hidden;
}

.post-date {
    font-size: 10px;
    font-style: italic;
}

.post-desc {
    font-size: 12px;
}

.block {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
.block > img {
  width: 100px;
  margin: 0 1rem 0 0;
}
.block > div {
  flex: 1;
}
.block h4 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.block p {
    margin: 0 0;
    font-size: 12px;
}

.block a {
    margin-top: 0;
}

a.readmore {
    font-size: 11px;
}

.post-container a.more-ann {
	margin-top: 0;
	margin-bottom: 10px;
}

/* SCHOOL DEPARTMENT */

.school-dept {
	height: auto;
	width: 100%;
	border-top: 8px solid #109a4c;
	background: #fff;
}

/* SCHOOL AD */
.school-ad {
	height: auto;
	width: 100%;
}

/* CENTER PANEL */

#right-panel {
	
}

#bulletin {
	height: 328px;
	background: #fff;
	width: auto;
	border-top: 8px solid #109a4c;
}

#bulletin > .bulletin-container {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}

#bulletin > .bulletin-container > h3 {
	text-align: center;	
}

#bulletin > .bulletin-container > ul {
	margin: 0;
}

#bulletin > .bulletin-container > ul > li {
	background: #e8e8e8;
	padding: 10px;
	list-style: none;
	margin: 3px -24px;
	width: 100%;
	border-left: 3px solid #109a4c;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}

#bulletin > .bulletin-container > ul > li a {
	color: #646464;
}

#bulletin > .bulletin-container > ul > li a:hover {
	color: #fff !important;
	text-decoration: none;
}


.login-panel {
	height: 305px;
	background: #fff;
	border-top: 8px solid #109a4c;
}

.login-panel > .login-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.btn-login {
	margin-top: 20px;
}

.reminder-panel {
	height: 70px;
	background: #fff;
	margin-top: 5px;
	max-height: 70px;
}

.reminder-panel > p {
	padding: 10px;
}

/* EVENTS SECTION */
#events-container {
	height: auto;
	background: #dddddd;
}

#events-container > div {
	margin-top:40px;
}

/* MISSION VISION PANEL*/

#mission-panel, #vision-panel {
	padding: 10px;
	height: 340px;
	background: #fff;
	margin: 30px 0;
	width: 100%;
}

.vision-content, .mission-content {
	padding: 20px;
}

.mission-content {
	text-align: left !important;
}

#mission-panel {
	border-right: 5px solid #109a4c;
}

#vision-panel {
	border-left: 5px solid #109a4c;
}

.mission-content > h2 {
	text-align: center;
}

.mission-vision-panel {
	margin-bottom: 20px;
}

footer {
	height: 100px;
	background: #10c35d;
}

footer ul li {
	list-style: none;
	float: left;
	width: 400px;
	margin: 0 1%;
}

footer ul li img {
	width: 70px;
}

footer ul li:nth-child(2) {
	text-align: center;
}

footer ul li span {
	color: #fff;
}

#portal-header {
    width: 100%;
    height: 50px;
    position: fixed;
    background: #fff;
    box-shadow: -5px 4px 20px -4px rgba(0,0,0,.5);
}

#portal-header .uk-breadcrumb {
	float: left;
	margin-left: 210px;
	background: #f6f6f6;
	padding: 5px 10px;
	border-radius: 50px;
	margin-top: 7px
}

#portal-header .student-top-nav {
    float: right;
    position: relative;
    top: 10px;
    right: 20px
}
#portal-header .student-top-nav .uk-button-default {
	border: none;
}


#portal-header .student-top-nav a {
    padding: 0 15px;
}

#portal-header::after {
    display: block;
    content: "";
    clear: both;
}

body {
    background: #e8e8e8;
}

#student-main-container .student-side-nav {
	height: 100vh;
	width: 200px;
    overflow: hidden;
    background: #b6e4bd;
	position: fixed;
}

#student-main-container .student-side-nav ul.student-nav-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

#student-main-container .student-side-nav ul.student-nav-links a {
	color: #202020;
	text-decoration: none;
}

#student-main-container .student-side-nav ul.student-nav-links li {
	padding: 10px;
	font-weight: 510;
}

#student-main-container .student-side-nav ul.student-nav-links li.active {
	border-left: 5px #00831d solid;
}

#student-main-container .student-side-nav ul.student-nav-links li:hover {
	border-left: 5px #00831d solid;
	transition: all 0.3s ease-in-out;
}

#student-main-container .student-side-nav .logo-container {
    width: 100%;
    height: 50px;
    background: #00831d;
    color: #f5f5f5;
    position: relative;
    z-index: 10;
    box-shadow: -5px 4px 20px -4px rgba(0,0,0,.5);
}

#student-main-container .student-side-nav .logo-container span {
    position: relative;
    top: 10px;
    left: 70px;
}

#student-panel {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 1;
}

#student-panel .panel-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    background: url('/images/student-panel-bg.jpg') no-repeat;
    background-size: cover;
}

#student-panel .avatar {
    padding: 10px 10px;
}

#student-panel .avatar img {
    border-radius: 50%;
    width: 70px;
    margin-top: 10px;
}

#student-panel .avatar h4 {
    margin-top: 5px;
	font-weight: 500;
	font-size: 20px;
	color: #f5f5f5
}

#student-panel  ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    background: rgba(0,0,0,.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#student-panel ul li {
    float: left;
    padding: 0 18px;
}

#student-panel ul li i {
    font-size: 30px;
    color: #f3f3f3;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#student-panel ul::after {
    display: block;
    content: "";
    clear: both;
}

#student-panel ul li:nth-child(3) i:hover {
    color: #D91E18;
    transition: all 0.3s ease-in-out;
}

#student-panel ul li:nth-child(2) i:hover,
#student-panel ul li:nth-child(1) i:hover {
    color: #3FC380;
}


#student-main-container #student-portal-container {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background: #f7f7f7;
}

#student-main-container #student-portal-container .student-portal-content {
	padding-top: 70px;
	padding-left: 220px;
	padding-bottom: 30px;
}

#student-main-container #student-portal-container .student-portal-content h6 {
	text-transform: uppercase;
	font-weight: bold;
}


#student-main-container #student-portal-container .student-portal-content img.profile-pic {
	width: 80px;
	border-radius: 50px;
}

#student-main-container #student-portal-container .student-portal-content ul.name-info {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 30px;
}

#student-main-container #student-portal-container .student-portal-content ul.name-info li {
	float: left;
	padding-right: 20px;
}

#student-main-container #student-portal-container .student-portal-content ul.name-info li:nth-child(2) {
	margin-top: 2px;
}

#student-main-container #student-portal-container .student-portal-content ul.name-info::after {
	display: block;
	content: "";
	clear: both;
}


#student-portal-container .student-portal-content .academic-load {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	margin-bottom: 30px;
}

#student-portal-container .student-portal-content .student-finances-container {
	margin-bottom: 30px;
}

#student-portal-container .student-portal-content .student-finances-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	margin-right: 150px;
}

#student-portal-container .student-portal-content .student-finances-container::after {
	display: block;
	content: "";
	clear: both;
}

#student-portal-container .student-portal-content ul.campus-news {
	list-style: none;
	padding: 0;
	margin: 0;
}

#student-portal-container .student-portal-content ul.campus-news .news-title {
	width: 150px;
	height: auto;
}


#student-portal-container .student-portal-content ul.campus-news li {
	float: left;
	margin-right: 30px;
}

#student-portal-container .student-portal-content ul.campus-news::after {
	display: block;
	content: "";
	clear: both;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#group-chat-container {
	width: 900px;
	height: 550px;
	background: #fff;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#group-chat-container .chat-online {
	width: 250px;
	height: 100%;
	border-right: 1px solid #b2b2b2;
	float: left;
}

#group-chat-container .chat-online .chat-search {
	height: 80px;
	border-bottom: 1px solid #b2b2b2;
}

#group-chat-container .chat-online .chat-search .search-people {
	margin-top: 15px;
	width: 230px;
	margin-left: 10px;
}

#group-chat-container .chat-online .chat-search input {
	border-radius: 20px;
}

#group-chat-container .chat-online .online-member ul.online-member-list {
	list-style: none;
	padding: 10px 15px;;
}

#group-chat-container .chat-online .online-member ul.online-member-list li {
	padding-bottom: 10px;
}

#group-chat-container .chat-online .online-member ul.online-member-list li div {
	float: left;
}

#group-chat-container .chat-online .online-member ul.online-member-list li div:nth-child(2) {
	padding-left: 10px;
	margin-top: 4px
}

#group-chat-container .chat-online .online-member ul.online-member-list li::after {
	display: block;
	content: "";
	clear: both;
}

#group-chat-container .chat-main-container {
	float: left;
	width: 650px;
}

#group-chat-container .chat-main-container .chat-name {
	width: 100%;
	border-bottom: 1px solid #b2b2b2;
	height: 80px;
}

#group-chat-container .chat-main-container .chat-name ul {
	padding: 10px;
	margin: 0;
}

#group-chat-container .chat-main-container .chat-name ul li {
	float: left;
	list-style: none;
}

#group-chat-container .chat-main-container .chat-name ul li:nth-child(2) {
	padding-left: 10px;
	padding-top: 15px;
}

#group-chat-container .chat-main-container .chat-name ul::after {
	display: block;
	content: "";
	clear: both;
}

#group-chat-container .chat-main-container .chat-log-container {
	height: 375px;
	border-bottom: 1px solid #b2b2b2;
	overflow: hidden;
	overflow-y: auto;
}

#group-chat-container .chat-main-container .chat-log-container .chat-log-content {
	padding: 20px;
	
}

#group-chat-container .chat-main-container .chat-log-container .chat-log-content ul.other-sender {
	list-style: none;
	padding: 0;
	font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif!important;
	margin-bottom: 10px;
}

#group-chat-container .chat-main-container .chat-log-container .chat-log-content ul.other-sender .sender-name {
	font-size: 14px;
	margin-bottom: 5px;
}

#group-chat-container .chat-main-container .chat-log-container .chat-log-content ul.other-sender .sender-message {
	padding: 15px;
	background: #258339;
	color: #fff;
	border-radius: 20px;
	height: auto;
	max-width: 500px;
	font-size: 14px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}


#group-chat-container .chat-main-container .chat-log-container .chat-log-content ul.me-sender {
	list-style: none;
	padding: 0;
	font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif!important;
}

#group-chat-container .chat-main-container .chat-log-container .chat-log-content ul.me-sender .sender-name {
	font-size: 14px;
	margin-bottom: 5px;
	text-align: right;
}

#group-chat-container .chat-main-container .chat-log-container .chat-log-content ul.me-sender .sender-message {
	padding: 10px 15px;
	background: #47c963;
	color: #fff;
	border-radius: 20px;
	height: auto;
	max-width: 500px;
	width: auto;
	font-size: 14px;
	margin-left: auto; 
	margin-right: 0;
}

#group-chat-container .chat-main-container .chat-composer input {
	width: 80%;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
	margin-left: 20px;
    border-radius: 10px;
    resize: none;
    outline: none;
    overflow: auto;
    background: #eee;
    color: #111;
	height: 60px;
	font-size: 13px;
}

#group-chat-container .chat-main-container .chat-composer button {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background: #47c963;
    padding: 10px 20px;
    border-radius: 5px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#group-chat-container {
	display: block;
	content: "";
	clear: both;
}

/*
	*FOR CHAT AUTOMATIC SCROLLBAR
	*https://codepen.io/muratcorlu/pen/KzmQEP */
