.wrapper {
	width: 96%;
	margin: 0 auto;
}

.uk-button-primary {
	background: #10c35d !important;
}

.uk-button-primary:hover {
	background: #109a4c !important;
}

#announcement-table th,
#announcement-table td {
	width: 20%;
}

#announcement-table th:nth-child(1),
#announcement-table td:nth-child(1) {
	width: 10%;
}

#announcement-table th:nth-child(3),
#announcement-table td:nth-child(3) {
	width: 10%;
}

table button {
	color: #fff !important;
}

table i {
	font-size: 15px !important;
	padding-right: 2px;
}



ul, li {
	margin: 0;
	padding: 0;
}

body, html {
	background: #f5f6f8;
	font-family: Open Sans,sans-serif;
}

#admin-header {
	height: 50px;
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 2;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#admin-header .profile-pic img {
	width: 40px;
	border-radius: 20px;
	position: relative;
	bottom: 7px;
}

#admin-header h3 {
	float: left;
	top: 8px;
	left: 20px;
	position: relative;
}

#admin-header ul {
	float: right;
	position: relative;
	right: 20px;
}

#admin-header ul li {
	list-style: none;
	padding: 12px 10px;
	float: left;
}

#admin-header::after {
	display: block;
	content: "";
	clear: both; 
}


/* SIDE NAVIGATION BARS */
#admin-side-nav {
	width: 200px;
	background: #233444;
	height: 100vh;
	position: fixed;
}

#admin-side-nav a {
	color: #fff !important;
}

#admin-side-nav a:hover {
	text-decoration: none !important;
}

#admin-side-nav > .side-navbars {
	padding-top: 55px;
/*
	padding-left: 10px;
	padding-right: 10px;
*/
}

#admin-side-nav > .side-navbars li {
	height: 40px;
	margin-top: 5px;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

#admin-side-nav > .side-navbars li:hover {
	background: #4586ff;
	transition: all 0.3s ease-in-out;
}

#admin-side-nav > .side-navbars li.active {
	background: #4586ff;
}

#admin-side-nav > .side-navbars li > i {
	color: #fff;
	padding-left: 20px;
	padding-right: 5px;
	position: relative;
	top: 5px;
}

#admin-side-nav > .side-navbars .add-new-component {
	width: 100%;
	background: #172736;
	height: auto;
	overflow: hidden;
	box-shadow: 
        inset 0px 11px 8px -10px #0e1a26,
        inset 0px -11px 8px -10px #0e1a26;
}

#admin-side-nav > .side-navbars #add-new {
	cursor: pointer;
}

.is-close {
	height: auto !important;
}

#admin-side-nav > .side-navbars #add-new-component ul {
	padding-left: 20px;
}

#admin-holder {
	display: flex;
}

#main-content {
	padding-top: 60px;
	padding-left: 210px;
	width: 100%;
	height: auto;

}

.admin-main-content-container {
	background: #fcfcfc !important;
	width: 99%;
	box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
}

.admin-main-content {
	padding: 20px;
	min-height: 550px;
	height: auto;
}

/* ADMIN ADD NEW */
.announcement-title {
	width: 40%;
}

#form-holder input {
	width: 100%;
}

#form-holder input.bulletin-title {
	
}


.add-new-component ul li {
	padding-left: 20px;
	list-style: none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 75%;
  max-height: 550px;
  height: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: auto;
}

.modal-container textarea {
	width: 100%;
	height: 200px;

}

.success-modal-container {
	width: 40%;
	height: auto;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-header {
	margin: 20px 0;
	height: auto;
}

.modal-body {
  margin: 20px 0;
  height: auto;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.success-icon {
	height: 200px;
	width: 200px;
	background: url('/images/success-icon-1.png') no-repeat;
	background-size: contain;
	margin: 0 auto;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 300px;
  max-height: 500px;
}

/* GLOBAL */

.uk-button-primary {
	background: #10c35d !important;
}

.uk-button-primary:hover {
	background: #109a4c !important;
}

.slide-right-bg:hover {
	box-shadow: inset 400px 0 0 0 #5dd073;
	color: #fff !important;
}

body, html {
	background: #f3f3f3;

}

.b-links-container {
	width: 50%;
	margin: 0 auto;
    height: 100%;
}

/* BORDER */

.border {
	height: 40px;
	background: #10c35d;
	width: 100%;
}

.border ul > li {
    float: left;
    list-style: none;
    width: 19%;
    text-align: center;
    margin-top: 1%;
    color: #fff;
}


.border ul::after {
    display: block;
    content: "";
    clear: both;
}

#site-header {
	padding: 2px 0;
	background: #fff;
	height: 50px;
}

#site-header nav a {
	color: #10c35d;
}

#site-header > .wrapper > div {
	float: left;
	margin-top: 5px;
}

#site-header > .wrapper > nav {
	float: right;
	margin-top: 10px;
}

#site-header > .wrapper > nav > a {
	padding: 5px 15px;
}

#site-header > .wrapper::after {
	display: block;
	content: "";
	clear: both;
}

/* SHOWCASE */
#showcase {
	height: 400px;
	background: url('images/banner.jpg') no-repeat;
	background-size: cover;
}

#showcase > .showcase-container > .showcase-content > span {
	font-family: Anton;
	font-size: 50px;
	color: #10c35d;
	margin-bottom: 0;
}

#showcase > .showcase-container > .showcase-content > p {
	margin-top: 0;
	font-size: 40px;
}

#showcase > .showcase-container {
	padding: 100px 50px;
}

/* ANNOUNCEMENTS */
.site-contents {
/*	margin: 50px 0px;*/
	margin-top: 40px;
	margin-bottom: 40px;
}

.announcement-container {
	height: auto;
	min-height: 455px;
	background: #fff;
	border: 1px solid rgb(218, 220, 222) !important;
}

.announcement-container > .announcement-header {
	width: 100%;
	height: 35px;
	padding-top: 4px; 
	background: #109a4c;
	color: #fff;
}

.announcement-container > .announcement-header > span {
	position: relative;
	margin-left: 10px;
	top: -5px;
}

.announcement-container > .announcement-header > i {
	position: relative;
	top: 2px;
	left: 10px;
}

.announcement-container > .announcement-posted {
	width: 96%;
	margin: 0 auto;
}

.post-container {
    width: 100%;
    overflow: hidden;
}

.post-date {
    font-size: 10px;
    font-style: italic;
}

.post-desc {
    font-size: 12px;
}

.block {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
.block > img {
  width: 100px;
  margin: 0 1rem 0 0;
}
.block > div {
  flex: 1;
}
.block h4 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.block p {
    margin: 0 0;
    font-size: 12px;
}

.block a {
    margin-top: 0;
}

a.readmore {
    font-size: 11px;
}

.post-container a.more-ann {
	margin-top: 0;
	margin-bottom: 10px;
}

/* SCHOOL DEPARTMENT */

.school-dept {
	height: auto;
	width: 100%;
	border-top: 8px solid #109a4c;
	background: #fff;
}

/* SCHOOL AD */
.school-ad {
	height: auto;
	width: 100%;
}

/* CENTER PANEL */

#right-panel {
	
}

#bulletin {
	height: 328px;
	background: #fff;
	width: auto;
	border-top: 8px solid #109a4c;
}

#bulletin > .bulletin-container {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}

#bulletin > .bulletin-container > h3 {
	text-align: center;	
}

#bulletin > .bulletin-container > ul {
	margin: 0;
}

#bulletin > .bulletin-container > ul > li {
	background: #e8e8e8;
	padding: 10px;
	list-style: none;
	margin: 3px -24px;
	width: 100%;
	border-left: 3px solid #109a4c;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}

#bulletin > .bulletin-container > ul > li a {
	color: #646464;
}

#bulletin > .bulletin-container > ul > li a:hover {
	color: #fff !important;
	text-decoration: none;
}


.login-panel {
	height: 305px;
	background: #fff;
	border-top: 8px solid #109a4c;
}

.login-panel > .login-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.btn-login {
	margin-top: 20px;
}

.reminder-panel {
	height: 70px;
	background: #fff;
	margin-top: 5px;
	max-height: 70px;
}

.reminder-panel > p {
	padding: 10px;
}

/* EVENTS SECTION */
#events-container {
	height: auto;
	background: #dddddd;
}

#events-container > div {
	margin-top:40px;
}

/* MISSION VISION PANEL*/

#mission-panel, #vision-panel {
	padding: 10px;
	height: 340px;
	background: #fff;
	margin: 30px 0;
	width: 100%;
}

.vision-content, .mission-content {
	padding: 20px;
}

.mission-content {
	text-align: left !important;
}

#mission-panel {
	border-right: 5px solid #109a4c;
}

#vision-panel {
	border-left: 5px solid #109a4c;
}

.mission-content > h2 {
	text-align: center;
}

.mission-vision-panel {
	margin-bottom: 20px;
}

footer {
	height: 100px;
	background: #10c35d;
}

footer ul li {
	list-style: none;
	float: left;
	width: 400px;
	margin: 0 1%;
}

footer ul li img {
	width: 70px;
}

footer ul li:nth-child(2) {
	text-align: center;
}

footer ul li span {
	color: #fff;
}